*{
    margin:0px;
    padding:0px;
}

body{
    background-color: rgb(121, 121, 121);
}

.main-container{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
}

.box1{
    background-color:violet;
    height:300px;
    text-align:center;
    color:rgb(0, 0, 0);
    width:33%;
    border:2px white dashed;
    border-radius:10px;
    margin:20px;
}

.box1 h1{
    font-size:36px;
    border:5px white solid;
    padding:5px;
    text-align:left;
    transform:translate(15px, -15px);
    border-radius:15px;
    background-color: rgb(121, 121, 121);
}



.code-snippet{
    margin:20px;
    padding:20px;
    text-align:left;
}


.box4{
    background-color:blueviolet;
    height: 400px;
    width: 300px;
    text-align: center;
    color:chocolate;
    font-size: 30px;
}



@media screen and (min-width:999px) {
    #box{
        width:33%;
    }
}

@media screen and (max-width:999px) {
    #box{
        width:50%;
    }
}

@media screen and (max-width:768px) {
    .main-container{
        flex-direction:column;
    }
    #box{
        width:100%;
    }
}